fastapi==0.116.0
uvicorn==0.35.0
motor==3.7.1
pymongo==4.13.2
pydantic==2.11.7
python-dotenv==1.1.1
email-validator==2.2.0
passlib[bcrypt]==1.7.4
python-jose==3.5.0
python-multipart==0.0.20
requests==2.32.4
razorpay==1.4.2
APScheduler==3.11.0